@import controllers.adNetwork.util.AppConstants
@import config.ContextConfig
@import controllers.session.WizeSession

<div class="header">
    <a href="/">
        <img class="logo" src="@routes.Assets.at("images/wize-logo.png")"/>
        <span class="ads-title">&nbsp;Ads Network</span>
    </a>
    @if(ContextConfig.get("_session").asInstanceOf[WizeSession].getBoolean("loggedIn").equals(true)){
        <div id="avatar" ng-controller="loginCtrl" >
            <div class="avatarImgDiv" ng-click="showProfileOpts()">
                <img class="avatarImg" src="@routes.Assets.at("images/avatar/avatar_1.png")" />
                <div class="profileDownArrow"></div>
            </div>
            <div id="avatarOpts" ng-show="showOpts">
                <ul>
                    <li class="avatarOptsItem">
                        <span class="icon"></span>
                        <span class="avatarOptsItemLabel">Profile</span>
                    </li>
                    <li class="avatarOptsItem">
                        <a id="logoutLink" href="@{AppConstants.URL.signOutCall}">
                            <span class="icon"></span>
                            <span class="avatarOptsItemLabel">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
