@import config.ContextConfig
<div class="htmlEditor" style="{{body.css.background}}">
    <div class="boxWrap">
        <div class="rowElement siteHeader" style="{{header.css.background}}">
            <div class="ghost"></div>
            <div class="siteLogo inlineCenter" style="{{logo.css.background}}"></div>
            <div class="searchBox inlineCenter" style="{{search.css.box}}">
                <div class="searchInput">
                    <div class="leftWrap inlineCenter" style="{{search.css.boxWrap}}"></div>
                    <input placeholder="{{placeHolder}}" type="text" class="searchField inlineCenter" style="{{search.css.searchBox}}"/>
                    <div class="searchSubmit inlineCenter" style="{{search.css.buttonCss}}">search</div>
                </div>
            </div>
        </div>
        <div class="rowElement categories" style="{{category.css.wrap}}">
            <div class="categoryItem editor" style="{{category.css.nodeBlock}}" ng-click="removeCat()" ng-repeat="cat in categories" title="Add this category">
                <span style="{{category.css.node}}">{{cat.name}}</span>
                <div class="addLink">-</div>
            </div>
        </div>
        <div class="rowElement nla" style="{{nla.css.wrap}}">
            <ul class="nlaItems">
                <li style="{{nla.css.refineText}}">{{refineText}}</li>
                <li class="nlaItem">Digital Camera&nbsp;</li>
                <li class="nlaItem">Price</li>
                <li class="nlaItem">Brand</li>
                <li class="nlaItem">Camera Type</li>
                <li class="nlaItem">More</li>
            </ul>
            <div class="pageCount">Showing 1-2223</div>
        </div>
        <div class="rowElement content">
             <div class="products">
                 <ul>
                    <li class="product {{prod.addClear?'clear':''}}" ng-style="prod.style"  ng-repeat="prod in products">
                        <div title="2.4GHz Wireless Car Rear View Waterproof IP67 Reverse Backup Parking Camera (Backup Camera)">
                            <div class="imgContainer">
                                <img style="{{prod.imgStyle}}" src="@routes.Assets.at("images/silhouette/product.jpg")" alt="Product">
                            </div>
                            <div class="titleName" style="{{prod.titleStyle}}">{{prod.title}}</div>
                            <div class="priceInfo">
                                <div class="price-range-grid" style="{{prod.priceStyle}}">$749.95</div>
                                <div class="seller-info-grid" style="{{prod.sellerStyle}}">eBay</div>
                            </div>
                            <div class="ratingsContainer">
                                <ul class="ratings">
                                    <li style="{{prod.ratingBlankStyle}}"></li>
                                    <li style="{{prod.ratingBlankStyle}}"></li>
                                    <li style="{{prod.ratingBlankStyle}}"></li>
                                    <li style="{{prod.ratingBlankStyle}}"></li>
                                    <li style="{{prod.ratingBlankStyle}}"></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                 </ul>
             </div>
             <div class="pagination" ng-show="showPagination">
                 <div class="number">&lt;&lt;</div>
                 <div class="number selected">1</div>
                 <div class="number">2</div>
                 <div class="number">3</div>
                 <div class="number">4</div>
                 <div class="number">5</div>
                 <div class="number">6</div>
                 <div class="number">&gt;&gt;</div>
             </div>
        </div>
        <div class="rowElement footer">
            <div class="footerLinks" style="{{footer.css.nav}}">
                <ul class="footerLinkWrap">
                    <li class="footerLink">&copy;@ContextConfig.get("projectTitle")</li>
                    <li class="footerLink">About</li>
                    <li class="footerLink">Contact Us</li>
                    <li class="footerLink">Terms Of Use</li>
                    <li class="footerLink">Privacy Policy</li>
                </ul>
                <ul class="socialIcons">
                    <li class="socialIcon fb" style="{{footer.css.fb}}"></li>
                    <li class="socialIcon twitter" style="{{footer.css.twitter}}"></li>
                    <li class="socialIcon gPlus" style="{{footer.css.gPlus}}"></li>
                </ul>
            </div>
            <div class="disclaimer">
                <div class="disclaimerText" style="{{footer.css.disclaimer}}">
			        We make reasonable efforts to maintain the accuracy of product and pricing information displayed on
                    our site. In the event of a discrepancy, the information on the store's site will apply. We
                    encourage you to <a rel="nofollow" href="mailto:feedback@@luckypetstore.com" class="grayAnchor">
                    report any errors</a> you find. We are not liable for any actions taken nor responsible for any loss
                    or damage resulting from business conducted with listed companies. We are compensated by merchants
                    whose products are displayed. For complete details, see our
                    <a rel="nofollow" href="#" class="grayAnchor">Terms of Use</a>.
                </div>
                <div class="companyLogo" style="{{footer.css.companyLogo}}"></div>
            </div>
        </div>
        <div class="loader" ng-show="loader">
            <img class="centerAbs"  src="@routes.Assets.at("images/loader.GIF")" />
        </div>
    </div>
</div>
