@(sideNavItems: List[models.common.sideNav.SideNavItem])
<div id="sideNav" class="list-group">
    @for(navItem:models.common.sideNav.SideNavItem <- sideNavItems){
        <a href="#" class="sideNavItem list-group-item" data-viewaction="@navItem.viewAction" data-event="@navItem.event" leftnav-option action="sendMessage">
            <div class="sideNavItemLabel">@navItem.label</div>
        </a>
    }
    <button>Preview</button>
    <button ng-click="saveChanges($event)">Save Changes</button>
</div>