@(merchantData: com.wizecommerce.adnetwork.merchant.adunit.AdUnit)
<div id="adsDashBoard" ng-app="merchantDataWidget" ng-controller="merchantDataWidgetCtrl">
    
    <product-div></product-div>
</div>