@import config.ContextConfig
@import models.adNetwork.sideNav.SideNavItem

<div class="dashboardPanel">
    <div class="leftNav">@adNtwrk.dashboard.sideNav(ContextConfig.get("sideNavItems").asInstanceOf[List[SideNavItem]],0)</div>
    <div class="topNav">@adNtwrk.dashboard.topNav()</div>
    <div class="dashboardContent">
        <div id="panel">
        @adNtwrk.dashboard.dashBoardContent()
        </div>
        <div id="dashboardLoader" class="centerAbs">
            <img src="@routes.Assets.at("images/loader.GIF")"/>
        </div>
    </div>
</div>