@(sideNavItems: List[models.adNetwork.sideNav.SideNavItem],level:Integer)
<ul id="sideNav-@level">
    @for(navItem:models.adNetwork.sideNav.SideNavItem <- sideNavItems){
        <li class="sideNavItem" data-viewAction="@navItem.viewAction" side-nav-item >
            <div class="sideNavItemLabel">@navItem.label</div>
            @if(navItem.subNavItems != null && !navItem.subNavItems.isEmpty){
                @adNtwrk.dashboard.sideNav(navItem.subNavItems,level+1)
            }
        </li>
    }
</ul>