@import "../utils/_vars";
#adsControlPanel, #adsDisplay, .productCard {
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  padding-right: 20px;
}
#adsControlPanel{
  overflow: hidden;
  max-width: 875px;
  padding: 0;
  input[type="text"], input[type="password"] {
    width: 125px;
  }
  select{
    padding: 5px 10px;
    max-width: 150px;
  }
  input[type="text"]#heading{
    border: medium none;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
    width: 400px;
  }
  input[type="number"]{
    width: 56px;
  }
  input[type="color"]{
    padding: 2px;
  }
  .adsControlHeader {
    background-color: #ececec;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 2px 10px;
  }
  .adsControl{
    float:left;
    margin: 10px;
    min-width: 269px;
    .categoryLoader {
      border: 1px solid #cccccc;
      border-radius: 5px;
      float: left;
      height: 28px;
      position: relative;
      width: 168px;
    }
  }
  .label {
    display: block;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 5px;
    width: 72px;
    text-align: right;
  }
  .currency-symbol{
    font-size:14px;
  }
}
.adsDisplayContainer{
  float: left;
}
#adsDisplay{
  max-width: 900px;
  min-height: 310px;
  overflow: auto;
  position: relative;
  .adsDisplayProdCell {
    display: table-cell;
  }
  .adsDisplayProdCell .productCard{
    background-color: white;
    margin: 8px 0 8px 8px;
    padding: 10px 5px;
    text-align: center;
    width: 120px;
    min-height:200px;
  }
  .adsDisplayRow{
    display: table-row;
  }
  .adsDisplayBlockHeading {
    font-size: 14px;
    padding: 10px;
    color: #354f59;
  }
  .adsDisplayTable{
    display: table;
  }
  .adsDisplayProdCell .prodImg,
  .adsDisplayProdCell .price,
  .adsDisplayProdCell .sellerName,
  .adsDisplayProdCell .title {
    margin: 5px 0;
    line-height: 14px;
    cursor: pointer;
  }
  .adsDisplayProdCell .price,.adsDisplayProdCell-horizontal .price{
    font-weight: bold;
    font-size: 12px;
    margin-bottom:3px;
  }
  .adsDisplayProdCell .title{
    color: #636466;
    height: 40px;
    overflow: hidden;
    line-height:21px;
  }
  .adsDisplayProdCell .sellerName,.adsDisplayProdCell-horizontal .sellerName{
    color: #4497cb;
    font-size: 12px;
  }
  .adsDisplayProdCell .price:hover,
  .adsDisplayProdCell .sellerName:hover,
  .adsDisplayProdCell .title:hover{
    text-decoration: underline;
  }
  .adsDisplayBlock-HORIZONTAL{
    .productCard{
      min-height: 100px;
      width: 260px;
    }
    .prodImg{
      float:left;
      margin-top: 0;
    }
    .prodDetails{
      float: left;
      overflow: hidden;
      padding: 0 5px 0 10px;
      text-align: left;
      width: 145px;
    }
    .adsDisplayProdCell .title{
      height: 36px;
      margin-bottom: 10px;
      line-height:18px;
      overflow: hidden;
    }
  }
  .adsDisplayProdCell .price:hover,
  .adsDisplayProdCell .sellerName:hover,
  .adsDisplayProdCell .title:hover{
    text-decoration: underline;
  }
  .noProducts {
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    width: 200px;
  }
  .productLoader{
    #util > .centerAbs();
    width: 160px;
    height: 25px;
  }
}
#adsDashBoard {
  overflow: hidden;
  padding: 5px 20px;
}
.editControl {
  float: right;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  position: relative;
  border:2px solid #2075bc;
  margin-left: 10px;
  #gradients > .vertical(#fafafa, #f4f4f4);
  .editText{
    border-radius: 1px 0 0 1px;
    color: black;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding: 0 14px;
    &:hover{
      box-shadow: 3px 4px 8px -5px rgba(0, 0, 0, 0.9) inset;
    }
  }
  .editIcon{
    #gradients > .vertical(#f4f4f4, #fafafa);
    border-radius: 0 2px 2px 0;
    cursor: default;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 1px 6px;
    position: absolute;
  }
  .fa-unlock-alt{display: none}
  .fa-lock{display: inline}
}
.editControl.locked{
  .editIcon{right: 0;border-left: 1px solid #999999}
  .editText{margin-right: 23px}
}
.editControl.unlocked{
  #gradients > .vertical(#2075bc, lighten(#2075bc, 5%));
  .fa-unlock-alt{display: inline}
  .fa-lock{display: none}
  .editText{
    margin-left: 23px;
    color: white;
    border-radius: 0 2px 2px 0;
  }
  .editIcon{
    left: 0;
    border-radius: 4px;
  }
}
.toggleSelectList {
  overflow: hidden;
  float: left;
  .toggleSelect {
    #gradients > .vertical(#f4f4f4, #fafafa);
    border: 1px solid #cccccc;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 3px 8px;
    text-align: center;
    min-width: 40px;
    font-size: 11px;
    border-right: none;
    &:hover{
      #gradients > .vertical(#e5e5e5, #efefef);
    }
  }
  .toggleSelect:last-child{
    border-right: 1px solid #cccccc;
  }
  .toggleSelected,.toggleSelected:hover{
    #gradients > .vertical(#2075bc, lighten(#2075bc, 5%));
    color: white;
  }
  .disabled{
    .toggleSelect{
      cursor: default;
      #gradients > .vertical(#f4f4f4, #fafafa);
    }
    .toggleSelected,.toggleSelected:hover{
      cursor: default;
      #gradients > .vertical(#afafaf, lighten(#afafaf, 5%));
      color: #444444;
    }
  }
}