@import "../utils/_vars";
.adListContainer{
  float: left;
  margin: 20px;
  #adUnitList {
    overflow: hidden;
    width: 320px;
    .listRow {
      clear: both;
      display: block;
      overflow: hidden;
      position: relative;
      .delete{
        border-left: 1px solid #cccccc;
        cursor: pointer;
        display: block;
        height: 100%;
        line-height: 32px;
        padding: 0 4px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 25px;
        top: 0;
        &:hover{
          box-shadow: 3px 4px 8px -5px rgba(0, 0, 0, 0.9) inset;
        }
      }
    }
    .listItem {
      border: 1px solid #dfdfdf;
      cursor: pointer;
      display: block;
      font-size: 13px;
      padding:10px 3px;
      text-align: left;
      float: left;
      width: 275px;
      border-top: none;
      border-right: none;
      color: #555555;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .listRow.loaderSmall{
      height: 35px;
      border: 1px solid #dfdfdf;
      border-top: none;
    }
    .listItem:first-child {
      width: 30px;
      text-align: center;
    }
    .listItem:last-child {
      border-right: 1px solid #dfdfdf;
    }
    .listRow:hover{
      #gradients > .vertical(#d6f0fd,#fafafa);
    }
    .listHeaderItem {
      #gradients > .vertical(#fefefe,lighten(#dddddd, 3%));
      color: #555555;
      cursor: default;
      text-shadow: 0 1px #ffffff;
      text-align: center;
    }
    .listHeaderItem.listItem{
      border-top: 1px solid #dfdfdf;
    }
    .listRowItemSelected .listItem {
      #gradients > .vertical(#d6f0fd,#f2f9fe);
    }
    .listActive, .listActive:hover{
    	#gradients > .vertical(darken(#2075bc, 10%),lighten(#2075bc, 5%));
        overflow: hidden;
        .listItem{
          color: white;
        }
        .delete{
          border-color: #ffffff;
          color: #ffffff;
        }
    }
  }
}
#adUnitEditor{
  margin: 20px 20px 20px 0;
}
#createAdUnit{
	#adUnitEditor,#adsDisplay{
		margin-left: 2%;
	}
}