@import "../utils/_vars";
.btn-blue,input[type="submit"].btn-blue{
  #buttons > .blue()
}
.dashboardPanel{
  margin-left: 225px;
}
.viewContainer{
  position: relative;
}
.leftNav{
  float:left;
  overflow: auto;
  margin-left: -225px;
  width: 224px;
}
.topNav{
  width:100%;
  float:left;
  overflow: hidden;
}
.fakeDashboardBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fakeShadow{
  background-color: #fdfcfc;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  box-shadow: 3px 4px 6px -5px rgba(0, 0, 0, 0.5) inset;
  height: 100%;
  margin-left: 225px;
  margin-top: 45px;
  position: absolute;
  width: 100%;
}
.dashboardContent{
  position: relative;
  overflow: auto;
  input{
    border-radius: 2px;
  }
}
#panel{
  display: none;
}
#dashboardLoader{
  position: absolute;
  height: 20px;
  width: 160px;
}
@import "sideNav";
@import "adUnitList";
@import "adsControl";