@import "../common/headerFooter";
@avatarOptsBkg:#efefef;
.header{
  #avatar {
      cursor: pointer;
      float: right;
      height: 48px;
      margin-right: 10px;
      margin-top: -5px;
      position: relative;
      width: 58px;
  }
  .avatarImg{
      height: 35px;
      margin: 7px 0 6px;
      width: 35px;
  }
  .avatarImgDiv{
      padding: 0 6px;
      &:hover{
        #gradients > .vertical(@avatarOptsBkg,lighten(@avatarOptsBkg, 3%));
      }
  }
  #avatarOpts {
//      background: linear-gradient(to bottom, #4d4d4d 0%, #5a5a5a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 1px solid #afafaf;
      box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.1);
      clear: both;
      left: -90px;
      position: absolute;
      width: 146px;
      z-index: 1000000;
      #gradients > .vertical(@avatarOptsBkg,lighten(@avatarOptsBkg, 3%));
  }
  .avatarOptsItem {
      border-bottom: 1px solid #cccccc;
      color: #666666;
      margin: 2px;
      min-width: 75px;
      padding: 8px;
      &:last-child{
          border-bottom: none;
      }
      &:hover {
          #gradients > .vertical(lighten(@avatarOptsBkg, 8%),lighten(@avatarOptsBkg, 10%));
      }
      .icon{
          padding: 0 8px;
      }
  }
  .profileDownArrow{
      #arrows > .down(5px,#bbbbbb);
      float: right;
      margin-top: 25px;
  }
}
#logoutLink{
  text-decoration: none;
  color: inherit;
  display: block;
}