@import "../utils/_vars";
#loginContainer{
  min-height: 435px;
}
.loginMsg{
  font-size: 20px;
  padding: 10px 5px 20px 5px;
  color: #444444;
  text-align: center;
}
#login{
  height: 340px;
  width: 345px;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px #cccccc;
  border-radius: 5px;
}
.loginUserImg {
  display: block;
  height: 150px;
  margin: auto;
  width: 150px;
}
.centerLogin{
  height: 415px;
  width: 347px;
}
#login .input{
  float: left;
}
.inputGrpContainer {
  clear: both;
  margin: 10px auto;
  overflow: hidden;
  width: 312px;
}
.inputGrpIcon{
  padding: 9px 11px 10px 11px;
  font-size: 16px;
  font-weight: normal;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 0 4px 4px 0;
  float: left;
  border-left: none;
}
.inputGrpPwdIcon{
  padding: 9px 13px 9px 12px;
}
.inputGrpContainer.remMe{
  line-height: 20px;
  color: #555555;
}
.signInButton{
  width: 250px;
  margin: auto;
}