@import "../utils/_vars";
@itemColor:#fafafa;
@itemHoverColor:#eaeaea;
.sideNavItem {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  height: auto;
  
}
ul[id^='sideNav']{
  padding-left: 20px;
}
ul#sideNav-0{
  padding-left: 0px;
}
#sideNav-0 > .sideNavItem {
  border-bottom: 1px solid #cccccc;
}
.sideNavItemLabel{
  padding: 5px 5px 5px 10px;
  #gradients > .vertical(@itemColor,lighten(@itemColor, 5%));
  &:hover{
  	#gradients > .vertical(lighten(@itemHoverColor, 2%), @itemHoverColor);
  }
}
.active .sideNavItemLabel{
	padding: 5px 5px 5px 10px;
	#gradients > .vertical(lighten(@itemHoverColor, 1%), @itemHoverColor);
}

.adunitList{
	margin-left:20px;
}
