<div id="quickLauncher" ng-controller="projectListController">
    <div id="newProject" class="panel">
        <div class="title">
            <h1>Launcher</h1>
            <p>Setup Cobrands and Silhouette in a fly...</p>
        </div>
        <button class="btn-blue" ng-click="showNewProject()">Create New Project</button>
    </div>
    <ul id="projects" >
        <li class="panel projectItem" data-owner="{{project.owner}}" ng-repeat="project in projectsList">
            <a href="/silhouette/project/{{project.id}}">{{project.title}}</a>
        </li>
    </ul>
</div>