<ul class="adunitList">
	<li  class="sideNavItem" ng-repeat="adUnit in datasource">
		<div id="{{$index}}" class="sideNavItemLabel" ng-class="{active: selectedindex == $index}" data-action="VIEW_SELECTED_ADUNIT">{{adUnit.displayText}}</div>
	</li>
</ul>
