<div id="adUnitEditor">
    <form id="adsControlPanel">
        <div class="adsControlHeader">
            <input id="heading" placeholder="Add a heading" type="text" ng-model="source.adUnit.displayText" ng-disabled="!source.editMode || fetchingProducts">
            <button-click ng-show="!source.editMode"></button-click>
            <slide-toggle default-text="Edit" toggle-text="Save" slide-model="source.editMode" toggle-action="source.editSaveAction"></slide-toggle>
        </div>

        <div class="adsControl">
            <span class="label">keyword</span>
            <input id="keyword" type="text" ng-model="source.adUnit.keyword" change-product ng-disabled="!source.editMode || fetchingProducts">
        </div>
        <div class="adsControl">
            <span class="label">background</span>
            <input id="bgColor" type="color" ng-model="source.adUnit.backgroundColor" ng-disabled="!source.editMode || fetchingProducts">
        </div>
        <div class="adsControl">
            <span class="label">Mode</span>
            <tabbed-radio item-model="source.adUnit.modeType" item-list="source.modeList" disabled="!source.editMode || fetchingProducts"></tabbed-radio>
        </div>

        <div class="adsControl">
            <span class="label">categories</span>
            <div class="categoryLoader" ng-show="!source.categories">
                <img class="centerAbs" src="/assets/images/loader-small.gif"/>
            </div>
            <select id="categories" ng-model="source.adUnit.node" ng-disabled="!source.editMode || fetchingProducts" ng-show="!!source.categories" >
                <option value="" selected="selected">Select a category</option>
                <option value="{{nodeId}}" ng-repeat="(nodeId,node) in source.categories">{{node.name}}</option>
            </select>
        </div>
        <!--<div class="adsControl" ng-show="isSubCategoryVisible && source.editMode">-->
            <!--<span class="label">sub category</span>-->
            <!--<select id="subNode" ng-show="source.editMode" ng-model="config.node">-->
                <!--<option value="" selected="selected">Select a sub category</option>-->
                <!--<option value="{{nodeId}}" ng-repeat="(nodeId,node) in arr.subCatData">{{node.name}}</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="adsControl">
            <span class="label">row</span>
            <input id="rowCount" type="number" ng-model="source.adUnit.rows" min='0' ng-disabled="!source.editMode || fetchingProducts">
        </div>
        <div class="adsControl">
            <span class="label">Layout Type</span>
            <tabbed-radio item-model="source.adUnit.layoutType" item-list="source.layoutTypeList" disabled="!source.editMode || fetchingProducts"></tabbed-radio>
        </div>

        <div class="adsControl">
            <span class="label">Price Range</span>
            <span class="currency-symbol"> $ </span>
            <input type="number" class="priceRange" ng-model="source.pricelow" min='0' ng-disabled="!source.editMode || fetchingProducts">
            <input class="priceRange" type="number" ng-model="source.pricehigh" min='0' ng-disabled="!source.editMode || fetchingProducts">
        </div>
        <div class="adsControl">
            <span class="label">column</span>
            <input id="columnCount" type="number" ng-model="source.adUnit.columns" min='0' ng-disabled="!source.editMode || fetchingProducts">
        </div>
        <div class="adsControl">
            <span class="label">Ad Type</span>
            <tabbed-radio item-model="source.adUnit.adResponseType" item-list="source.adTypeList" disabled="!source.editMode || fetchingProducts"></tabbed-radio>
        </div>
    </form>
</div>
