<div id="adsDisplay" class='adsbody' style="background-color:{{source.adUnit.backgroundColor}}">
    <div class="adsDisplayBlockHeading">{{source.adUnit.displayText}}</div>
    <ul class="adsDisplayBlock adsDisplayBlock-{{source.adUnit.layoutType}}" ng-show="!fetchingProducts && !noProductsToShow">
        <li class="adsDisplayTable" ng-repeat="(row, data) in source.products">
            <ul id="adsDisplayRow-{{row}}" class="adsDisplayRow">
                <li class="adsDisplayProdCell" ng-repeat="product in data">
                    <div class="productCard">
                        <img class="prodImg" ng-src="{{product.imgSrc}}"/>
                        <div class="prodDetails">
                            <div class="title">
                                {{product.name}}
                            </div>
                            <div class="price">
                                {{product.price}}
                            </div>
                            <div class="sellerName">
                                {{product.sellerDispTxt}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="noProducts centerAbs" ng-show="noProductsToShow && !fetchingProducts">
        No products to show.
    </div>
    <div class="productLoader" ng-show="fetchingProducts">
        <img src='/assets/images/loader.GIF'/>
    </div>
</div>
