<div class="editControl {{!!slideModel?'unlocked':'locked'}}">
    <div class="editText">{{!!slideModel?toggleText:defaultText}}</div>
    <div class="editIcon">
        <i class="fa fa-lock"></i>
        <i class="fa fa-unlock-alt"></i>
    </div>
</div>