<div class="toggleSelectList">
    <ul class="{{!disabled?'':'disabled'}}">
        <li class="toggleSelect {{itemModel == list[value]?'toggleSelected':''}}" ng-repeat="list in itemList" data-index="{{$index}}">{{list[label]}}</li>
    </ul>
</div>