<div class="adListContainer">
    <ul class="list" id="adUnitList">
        <li class="listHeader listRow">
            <ul class="listRowItem">
                <li class="listItem listHeaderItem">S.No</li>
                <li class="listItem listHeaderItem">Title</li>
            </ul>
        </li>
        <li class="listRow loaderSmall" ng-show="!source.adUnits || source.adUnits.length==0">
            <img class="centerAbs" src="/assets/images/loader-small.gif"/>
        </li>
        <li ng-repeat="adUnit in source.adUnits" class="listRow {{source.currentIndex == $index?'listActive':''}}">
            <ul ng-click="source.rowSelection($index)"  title="{{adUnit.displayText}}" class="listRowItem">
                <li class="listItem">{{$index+1}}</li>
                <li class="listItem">{{adUnit.displayText}} </li>
            </ul>
            <span class="delete" title="delete ad unit" ng-click="source.deleteAdUnit($event,$index)"><i class="fa fa-trash"></i></span>
        </li>
    </ul>
</div>
<div class="adsDisplayContainer">
<configuration-form></configuration-form>
<product-div></product-div>
</div>
