@import "_reset";
@import "_vars";
body,html{
  height: 100%;
}
body{
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clear{
  clear: both;
}
input, select{
  padding: 6px 10px;
  border: 1px solid #cccccc;
  color: #555555;
  font-size: 12px;
}
select,
input[type='text'],
input[type='password']{
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  margin: 0;
  min-width: 150px;
  outline: none;
  &:focus{
    #focus > .blue;
  }
}
input[type='button'],input[type='submit']{
  background-color: #dddddd;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 8px 10px;
  text-shadow: 1px 1px 1px #ffffff;
  min-width: 150px;
  outline: none;
  &:focus{
    #focus > .blue;
  }
}
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
button::-moz-focus-inner{
  border: 0;
}
.centerAbs{
  #util > .centerAbs();
}
.inlineCenter{
  #util > .inlineCenter();
}
.push{
  height:50px;
  clear: both;
}
.clear{
  clear:both;
}
