@transparent: transparent;
#gradients{
  .vertical(@startColor:#ffffff,@endColor:#ffffff){
    background: @startColor; /* Old browsers */
    background: -moz-linear-gradient(top, @startColor, @endColor); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @startColor 0%,@endColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @startColor 0%,@endColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @startColor 0%,@endColor 100%); /* IE10+ */
    background: linear-gradient(to bottom, @startColor 0%,@endColor 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@startColor, endColorstr=@endColor,GradientType=0 ); /* IE6-9 */
  }
  .horizontal(@startColor:#ffffff,@endColor:#ffffff){
    background: @startColor; /* Old browsers */
    background: -moz-linear-gradient(left, @startColor, @endColor); /* FF3.6+ */
    background: -webkit-gradient(linear, left, right, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, @startColor 0%,@endColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, @startColor 0%,@endColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, @startColor 0%,@endColor 100%); /* IE10+ */
    background: linear-gradient(to right, @startColor 0%,@endColor 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@startColor, endColorstr=@endColor,GradientType=1 ); /* IE6-9 */
  }
}
#buttons{
  ._btnDefaults(){
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      cursor: pointer;
      display: block;
      font-size: 16px;
      padding: 8px 10px;
      min-width: 150px;
      min-height: 25px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-weight: 200;
      font-family: inherit;
  }
  .blue(){
      #gradients > .vertical(#08c,#04c);
      ._btnDefaults();
      color: #ffffff !important;
      border: 1px solid #04c;
      outline: none;
      &:hover,&:focus{
        background: #0044cc;
      }
  }
}
#util{
  .centerAbs(){
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }
  .inlineCenter(){
    display: inline-block;
    vertical-align: middle;
    margin: auto;
  }
}
#arrows(){
  .left(@radius,@color){
    border: @radius solid @color;
    border-color:@transparent @color @transparent @transparent;
  }
  .right(@radius,@color){
    border: @radius solid @color;
    border-color:@transparent @transparent @transparent @color;
  }
  .up(@radius,@color){
    border: @radius solid @color;
    border-color:@transparent @transparent @color @transparent;
  }
  .down(@radius,@color){
    border: @radius solid @color;
    border-color:@color @transparent @transparent @transparent;
  }
}
#focus(){
  .blue{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
  }
}
.clearfix() {
  display: block;
  zoom: 1;
  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}