@(merchantCredentials: com.wizecommerce.adnetwork.merchant.credentials.MerchantCredentials)
<div id="accessManagementView" ng-controller="accessManageViewCtrl">
    <form>
        <div class="inputGrpContainer">
            <span>User Id</span><input id="accessManageSellerId" readonly="readonly" ng-model="sellerId"  value="@merchantCredentials.getMerchantId()">
        </div>
        <div class="inputGrpContainer">
            <span>Client Id</span>
            <input id="accessToken" ng-model="accessToken" readonly="readonly" value="@merchantCredentials.getAccessToken()">
            <input class="generateTokenBtn" type="button" value="Generate a new token" ng-click="generateNewAccessToken()">
        </div>
    </form>
</div>