<form name="configurationform">
<div id="adsControlPanel" >
        <div class="adsControlHeader">
            <span ng-show="isEditMode">Configuration</span>
            <span ng-show="!isEditMode">Edit</span>
            <input id="checkSlave" type="checkbox" ng-model="isEditMode">
        </div>
        <div class="adsControl">
            <span class="label">Heading</span><input id="heading" type="text" ng-model="config.displayText" ng-disabled="!isEditMode">
        </div>
        <div class="adsControl">
            <span class="label">background</span> <input id="bgColor" type="text" ng-model="config.backgroundColor" ng-disabled="!isEditMode">
        </div>
        <div class="adsControl">
            <span class="label">keyword</span> <input id="keyword" type="text" ng-model="config.keyword" ng-disabled="!isEditMode">
        </div>
        <div class="adsControl">
            <span class="label">categories</span>
           <input id="adType" ng-show="!isEditMode" type="text" ng-model="nodename" ng-disabled="!isEditMode">
            <select id="node" ng-show="isEditMode" ng-model="config.node" ng-change="selectSubCategory()">
                <option value="" selected="selected">Select a category</option>
                <option value="{{nodeId}}" ng-repeat="(nodeId,node) in arr.categories">{{node.name}}</option>
            </select>
        </div>
        <div class="adsControl" ng-show="isSubCategoryVisible && isEditMode">
            <span class="label">sub category</span>
            <select id="subNode" ng-show="isEditMode" ng-model="config.node">
                <option value="" selected="selected">Select a sub category</option>
                <option value="{{nodeId}}" ng-repeat="(nodeId,node) in arr.subCatData">{{node.name}}</option>
            </select>
        </div>
        <div class="adsControl">
            <span class="label">column</span> <input id="columnCount" type="number" ng-model="config.columns" min='0' ng-disabled="!isEditMode">
        </div>

        <div class="adsControl">
            <span class="label">row</span> <input id="rowCount" type="number" ng-model="config.rows" min='0' ng-disabled="!isEditMode">
        </div>
         <!-- <div class="adsControl nla editmode" ng-show="isEditMode">
            <div class="adsControl" ng-repeat="(key, value) in arr.nlaTypes">
                <span class="label">{{key}}</span>
                <select id="priceNla" ng-model="config.nlaTypes[$index].nlaValue" ng-show="isEditMode" ng-change="updateElement($index,'priceNla')">
                    <option value="">Select Price</option>
                    <option ng-repeat="data in value" value="{{data.value}}">{{data.label}}</option>
                </select>
            </div>
        </div> -->
        <div class="adsControl">
            <span class="label">Price Range</span> <span class="currency-symbol"> $ </span><input id="columnCount" type="number" class="pricerange" ng-model="pricelow" min='0' ng-disabled="!isEditMode">
            <input id="columnCount" class="pricerange" type="number" ng-model="pricehigh" min='0' ng-disabled="!isEditMode">
        </div>

        <!-- <div class="adsControl nla noneditmode" ng-show="!isEditMode">
            <div class="adsControl" ng-repeat="data in config.nlaTypes">
                <span class="label">Price</span> <input id="mode" type="text" ng-show="!isEditMode"  ng-model="config.nlaprice" ng-disabled="!isEditMode">
                <input id="adType" ng-show="!isEditMode" type="text" ng-model="config.nlaTypes[$index].nlaName" ng-disabled="!isEditMode">
            </div>
        </div> -->

        <div class="adsControl">
            <span class="label">Ad Type</span>
            <input id="adType" ng-show="!isEditMode" type="text" ng-model="config.adResponseType" ng-disabled="!isEditMode">
            <select ng-model="config.adResponseType" ng-show="isEditMode"  ng-options="k as v for (k , v) in adtypes"></select>
        </div>
        <div class="adsControl">
            <span class="label">Mode</span> <input id="mode" type="text" ng-show="!isEditMode"  ng-model="config.modeType" ng-disabled="!isEditMode">
            <select ng-model="config.modeType" ng-show="isEditMode"  ng-options="k as v for (k , v) in modetypes"></select>
        </div>
        <div class="adsControl">
            <span class="label">Layout Type</span> <input id="layout" type="text" ng-show="!isEditMode"  ng-model="config.layoutType" ng-disabled="!isEditMode">
            <select ng-model="config.layoutType" ng-show="isEditMode"  ng-options="k as v for (k , v) in layoutType"></select>
        </div>
        <button  id="submit" value="Submit" ng-click="sendData()" ng-show="isEditMode">Submit</button>
        <div ng-switch on="config.modeType">
        <button  id="getCode" value="Get Code" ng-show="!isEditMode" ng-switch-when="URL" button-click>Get URL</button>
        <button  id="getScript" value="Get Script" ng-show="!isEditMode" ng-switch-when="SCRIPT" button-click>Get Script</button>
        </div>
 </div>
 </form>
