@import "../utils/_defaults";
@import "headerFooter";
#main {
  margin-bottom: -51px;
  min-height: 100%;
  position: relative;
}
#notFoundContainer{
  min-height: 360px;
}
.notFound{
  margin:auto;
}