@import "../utils/_vars";
@headerColor:#4d4d4d;
.header{
  border-bottom: 1px solid #aaaaaa;
  box-shadow: 0 1px 2px #999999;
  height: 40px;
  padding: 5px;
  #gradients > .vertical(@headerColor,lighten(@headerColor, 5%));
  a{
    color: white;
  }
  .logo {
    height: 30px;
    width: 239px;
  }
}

#footer {
  #gradients > .vertical(#ECECEC,lighten(#ECECEC,0.5%));
  height: 50px;
  width: 100%;
  border-top: 1px solid #cccccc;
  box-shadow: 0 1px 2px #555555;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #777777;
}