<div class="categoryItem editor" data-index="{{$index}}" ng-repeat="cat in catergoryItems" ng-click="addCategory()" title="Add this category">
    <span>{{cat.name}}</span>
    <div class="addLink">+</div>
</div>