<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories Editor</h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="(key, value) in cssprop" ng-switch on="key">
            <label>{{key}}</label>
            <category-item ng-model="value" ng-switch-when="categories"></category-item>
            <input type="text" ng-model="value" ng-switch-when="Placeholder">
            <textarea class="form-control cssEdit" ng-switch-default init-edit action="action" showeditor="showeditor"
                      data-identifier="CATEGORY">
                {{value}}
            </textarea>
        </div>
        <button save-button data-identifier="CATEGORY">Save</button>
    </div>
</div>
