<div id="newProjectFormMask" ng-show="showNewProjectForm">
    <div class="mask" ng-click="resetForm()"></div>
    <form id="newProjectForm" class="centerAbs" ng-submit="createNewProject($event)">
        <div class="heading">
            Create New Project
        </div>
        <div class="formItem"><label>Name*</label><input type="text" ng-model="name"/><span class="errorText"></span></div>
        <div class="formItem"><label>Channel Name</label><input type="text" ng-model="channel"/></div>
        <div class="formItem"><label>Domain</label><input type="text" ng-model="domain"/></div>
        <div class="formItem"><label>Facebook Page</label><input type="text" ng-model="fbPage"/></div>
        <div class="formItem"><label>Twitter Page</label><input type="text" ng-model="twitterPage"/></div>
        <div class="formItem"><label>Google Plus Page</label><input type="text" ng-model="gPlusPage"/></div>
        <div class="formItem"><label>Sprite Url</label><input type="text" ng-model="spriteUrl"/></div>
        <div class="formItem">
            <label>About Us</label>
            <rich-text-editor class="richTextEditor" ng-model="aboutUs"></rich-text-editor>
        </div>
        <div class="formItem">
            <div class="btnFormItem">
                <input type="submit" class="btn-blue btnItem" value="Save">
                <input type="reset" class="btn-blue btnItem" value="Cancel" ng-click="resetForm()">
            </div>
        </div>
    </form>
</div>
