<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Body Editor</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="(key, value) in cssprop">
      <label>{{key}}</label>
      <textarea class="form-control cssEdit" init-edit action="action" showeditor="showeditor" data-identifier="FOOTER" >
      {{value}}
      </textarea>
    </div>
    <button save-button data-identifier="FOOTER">Save</button>
  </div>
</div>
