<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Logo Editor</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="(key, value) in cssprop" ng-switch on="key">
      <label>{{key}}</label>
      <input type="text" ng-model="value" ng-switch-when="URL">
      <textarea class="form-control cssEdit" ng-switch-default init-edit action="action" showeditor="showeditor" data-identifier="LOGO" >
      {{value}}
      </textarea>
    </div>

    <button save-button data-identifier="LOGO">Save</button>
  </div>
</div>
