<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nla Editor</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="(key, value) in cssprop" ng-switch on="key">
      <label>{{key}}</label>
      <input type="text" ng-model="input.refinetext" ng-init="input.refinetext=value" ng-switch-when="Text">
      <select ng-switch-when="Position" ng-model="value">
        <option value="horizontal">Horizontal</option>
        <option value="stacked">Stacked</option>
    </select>
      <textarea class="form-control cssEdit" ng-switch-default init-edit action="action" showeditor="showeditor" data-identifier="NLA" >
      {{value}}
      </textarea>
    </div>
    <button save-button data-identifier="NLA">Save</button>
  </div>
</div>
