<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">P List Editor</h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="(key, value) in cssprop" ng-switch on="key">
      <label>{{key}}</label>
      <select ng-model="input.colCount" ng-init="input.colCount=value" ng-switch-when="Per Row Count" ng-options="count for count in colCountArr"></select>

      <select ng-model="input.totalCount" ng-init="input.totalCount=value" ng-switch-when="Products Count" ng-options="count for count in totalCountArr"></select>

      <input type="text" ng-switch-when="Display type" ng-model="input.displayType" ng-init="input.displayType=value"/>

      <div ng-switch-when="Pagination" ng-init="input.showPagination=value">
            <input type="radio" name="pagination"  ng-model="input.showPagination" ng-checked="input.showPagination"  value="true"><span>&nbsp;True</span>
            <input type="radio" name="pagination"  ng-model="input.showPagination" ng-checked="!input.showPagination"  value="false"><span>&nbsp;False</span>
        </div>
        <input type="text" ng-switch-when="Margin" ng-model="input.margin" ng-init="input.margin=value"/>
      <textarea class="form-control cssEdit" ng-switch-default init-edit action="action" showeditor="showeditor" data-identifier="PLIST" >
      {{value}}
      </textarea>
    </div>
        <button save-button data-identifier="PLIST">Save</button>
    </div>
</div>
