<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Product Editor</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="(key, value) in cssprop" ng-switch on="key">
      <label>{{key}}</label>
      <input type="text" ng-model="input.titleLength" ng-init="input.titleLength=value"  ng-switch-when="Title length">
      <textarea class="form-control cssEdit" ng-switch-default init-edit action="action" showeditor="showeditor" data-identifier="PRODUCT" >
      {{value}}
      </textarea>
    </div>
    <button save-button data-identifier="PRODUCT">Save</button>
  </div>
</div>
