<div class="richTextEditor">
    <div class="editorControls">
        <ul class="controlList">
            <li>
                <div class="controlGrp">
                    <span class="control" data-cmd="bold" title="CTRL+B" tabindex="-1">Bold</span>
                    <span class="control" data-cmd="italic" title="CTRL+I" tabindex="-1">Italic</span>
                    <span class="control" data-cnd="underline" title="CTRL+U" tabindex="-1" >Underline</span>
                </div>
            </li>
        </ul>
    </div>
    <iframe class="editorContent" tabindex="0" src="about:blank">

    </iframe>
</div>