<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search Editor</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="(key, value) in cssprop" ng-switch on="key">
      <label>{{key}}</label>
      <input type="text" ng-model="input.placeholder" ng-init="input.placeholder=value" ng-switch-when="Placeholder">
      <textarea class="form-control cssEdit" ng-switch-default init-edit action="action" showeditor="showeditor" data-identifier="SEARCH" >
      {{value}}
      </textarea>
    </div>
    <button save-button data-identifier="SEARCH">Save</button>
  </div>
</div>
