<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Body Editor</h3>
    </div>
    <div class="panel-body">
        <label>CSS</label>

        <div ng-repeat="cssObj in cssProperties">
            <span class="propLabel">{{cssObj.key}}</span>
            <input type="text" ng-model="cssObj.value" >
        </div>
        <button class="update" ng-click="updateCssProp()">Update</button>
    </div>
</div>
