<div>

</div>
<ul class="ngCombo">
    <li  class="sideNavItem" ng-repeat="adUnit in adunits" >
        <div id="{{$index}}" class="sideNavItemLabel" ng-click="viewSelectedAdUnit($event)">{{adUnit.displayText}}</div>
    </li>
</ul>