@(adunit: com.wizecommerce.adnetwork.merchant.adunit.AdUnit,products: Map[Short,List[com.wizecommerce.adnetwork.common.Product]])
@import com.wizecommerce.adnetwork.merchant.adunit.layouttype.AdLayoutType
<style>
#adsDisplay {
    margin-top: 20px;
    min-width: 500px;
    width: auto;
}
.adsDisplayProdCell {
    background-color: white;
    float: left;
    margin: 10px 0 10px 8px;
    padding: 10px 5px;
    text-align: center;
    width: 135px;
    min-height: 240px;
}
.adsDisplayProdCell:last-child {
    margin-right: 10px;
}
.adsDisplayRow {
    clear: both;
}
.adsDisplayBlockHeading {
    color: #354f59;
    font-size: 14px;
    padding: 10px;
}
.adsDisplayProdCell .prodImg, .adsDisplayProdCell .price, .adsDisplayProdCell .sellerName, .adsDisplayProdCell .title {
    cursor: pointer;
    line-height: 14px;
    margin: 5px 0;
}
.adsDisplayProdCell .price,.adsDisplayProdCell-horizontal .price {
    font-size: 14px;
    font-weight: bold;
}
.adsDisplayProdCell .title {
    color: #636466;
}
.adsDisplayProdCell .sellerName,.adsDisplayProdCell-horizontal .sellerName {
    color: #4497cb;
    font-size: 14px;
}
.adsDisplayProdCell .price:hover, .adsDisplayProdCell .sellerName:hover, .adsDisplayProdCell .title:hover {
    text-decoration: underline;
}
ol, ul {
    list-style: none outside none;
}
#adsControlPanel, #adsDisplay, .adsDisplayProdCell {
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    float: left;
    margin: 20px 15px;
    overflow: hidden;
    padding-right: 20px;
}
.adsDisplayProdCell .title {
    color: #636466;
  height: 40px;
  margin-bottom: 25px;
  overflow: hidden;
  line-height:21px;
}
.adsDisplayProdCell-horizontal{
	height: 90px;
    width: 260px;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  float: left;
  margin: 10px 15px;
  overflow: hidden;
  padding-right: 20px;
  background-color: white;
  padding:10px;
}
.adsDisplayProdCell-horizontal .prodImg{
	float:left;
}
.metadata-horizontal {
    float: left;
    margin-left: 10px;
    width: 150px;
}
.adsDisplayProdCell-horizontal .title{
  color: #636466;
  height: 40px;
  margin-bottom: 10px;
  line-height:21px;
  overflow: hidden;
}
.adsDisplayProdCell-horizontal .price:hover,
.adsDisplayProdCell-horizontal .sellerName:hover,
.adsDisplayProdCell-horizontal .title:hover{
  text-decoration: underline;
}
.click{
	display:block;
}
ul,li,ol{
padding: 0px;
margin:0px;
}
</style>

<div id="adsDisplay" class='adsbody' style="background-color:@adunit.getBackgroundColor()">
    <div class="adsDisplayBlockHeading">@adunit.getDisplayText()</div>
    <ul class="adsDisplayBlock">
        @for(key <- products.keySet()) {
    <li>

    <ul id="adsDisplayRow-@key" class="adsDisplayRow">
    @for(product:com.wizecommerce.adnetwork.common.Product<-products.get(key)){
    	 @if(adunit.getLayoutType().equals(AdLayoutType.VERTICAL)){
        <li class="adsDisplayProdCell">
        <a href="@product.getClickURL" class="click" target="_blank">
            <img class="prodImg" src="@product.getImgSrc()"/>
                    <div class="title">
                        @product.getName()
                    </div>
                    <div class="price">
                        @product.getPrice()
                    </div>
                    <div class="sellerName">
                        @product.getSeller()
                    </div></a>
        </li>
        }
        @if(adunit.getLayoutType().equals(AdLayoutType.HORIZONTAL)){
                <li class="adsDisplayProdCell-horizontal" ng-repeat="product in data">
                <a href="@product.getClickURL" class="click" target="_blank">
                    <img class="prodImg" src="@product.getImgSrc()"/>
                    <div class="metadata-horizontal">
                        <div class="title">
                           @product.getName()
                        </div>
                        <div class="price">
                            @product.getPrice()
                        </div>
                        <div class="sellerName">
                             @product.getSeller()
                        </div>
                    </div></a>
                </li>
	}
    }
    </ul>
    </li>
	}
	</ul>
</div>
