@import "../utils/_defaults";
@import "headerFooter";
body{
  font-family: helvetica neue;
}
#mainSiloDashboard {
  margin-bottom: -51px;
  min-height: 100%;
  position: relative;
}
.mask {
  background: none repeat scroll 0 0 #444444;
  height: 100%;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@import "quickLauncher";