@import "../utils/_defaults";
@import "headerFooter";
body{
  font-family: helvetica neue;
}
#mainSiloDashboard {
  margin:0 0 -51px 0;
  min-height: 100%;
  position: relative;
}
.mask {
  background: none repeat scroll 0 0 #444444;
  height: 100%;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
button,input[type="submit"]{
  #buttons > .blue();
}
.panel-body{
  input[type='text'],select{
    margin: 2px 0;
    padding: 8px 10px;
  }
  button.update{
    height: 32px;
    margin-top: 5px;
    min-width: 100px;
  }
  label{
    font-size: 14px;
    padding: 5px 0;
    display: block;
    margin-top: 10px;
  }
  textarea{
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
    min-height: 75px;
    min-width: 150px;
  }
  select{
    min-width: 150px;
    width: 150px;
  }
}
.dashBoard{
  margin: 5px 0;
}
.categoryItem {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  line-height: 17px;
  margin: 5px;
  text-align: center;
  min-width: 75px;
  cursor: pointer;
  position: relative;
  padding: 0 8px;
  .addLink{
    display: none;
    position: absolute;
    right: 5px;
    top: 0;
  }
}
.editor.categoryItem{
  &:hover{
    background-color: #dddddd;
    .addLink{
      display: block;
    }
  }
}
#sideNav{
  button{
    margin: 10px auto;
  }
}
.htmlEditor{
  border: 1px solid #cccccc;
  background-color: #cccccc;
  padding: 20px;
  position: relative;
  .loader{
    background-color: #888888;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
    img{

    }
  }
  .boxWrap{
    background-color: #ffffff;
    position: relative;
  }
  .rowElement{
    position: relative;
    clear: both;
    border: 1px solid transparent;
  }
  .siteHeader {
    height: 100px;
    padding: 2px;
    background-color: #eeeeee;
    .ghost{
      height: 100%;
      #util > .inlineCenter();
    }
    .siteLogo{
      display: inline-block;
      padding: 15px;
      border: 1px solid #cccccc;
      width: 40%;
    }
    .searchBox{
      .searchInput{
        position: relative;
        margin-left: 100px;
        font-size: 0;
        .leftWrap{
          border: 1px solid transparent;
          border-radius: 10px 0 0 10px;
          height: 100%;
          position: absolute;
          width: 30px;
        }
        .searchField{
          border-radius: 10px 0 0 10px;
          padding-left: 35px;
          width: 300px;
        }
        .searchSubmit{
          width: 70px;
          border: 1px solid transparent;
          border-radius: 0 10px 10px 0;
          height: 32px;
          line-height: 31px;
          background-color: #999999;
          color: #ffffff;
          font-size: 16px;
          padding-left: 4px;
        }
      }
    }
  }
  .categories,.nla{
    height: 30px;
  }
  .nla{
    background-color: #eeeeee;
    .nlaItems{
      float:left;
    }
    li{
      display: inline-block;
      font-size: 15px;
      line-height: 22px;
      margin: 2px 4px;
      min-height: 22px;
      min-width: 95px;
    }
    li.nlaItem{
      background-color: #fcfcfc;
      border-radius: 5px;
      font-size: 11px;
      padding-left: 5px;
    }
    .pageCount {
      float: right;
      margin: 10px 10px 0 0;
    }
  }
  .content{
    .products{
      .product{
        border: 1px solid #aaaaaa;
        display: block;
        float: left;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
      }
      .titleName, .price-range-grid, .seller-info-grid, .ratingsContainer{
        margin: 10px 0;
      }
      .price-range-grid{
        color: #dddddd;
        font-size: 18px;
      }
      .seller-info-grid{
        color: #1e0fbe;
        text-decoration: underline;
        font-size: 13px;
      }
    }
    .pagination{
      width: 300px;
      margin: 10px auto;
      display: block;
      clear: left;
      .number{
        border: 1px solid #dddddd;
        color: #0088cc;
        float: left;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        text-align: center;
        border-right: none;
        cursor: pointer;
        margin: 8px 0;
        &:hover{
          background-color: #f5f5f5;
          color: #005580;
        }
        &:first-child{
          border-radius: 5px 0 0 5px;
        }
        &:last-child{
          border-right: 1px solid #dddddd;
          border-radius: 0 5px 5px 0;
        }
      }
      .selected{
        cursor: default;
        background-color: #f5f5f5;
        color:#999999;
      }
    }
  }
  .footer{
    .footerLinks{
      background-color: #eeeeee;
      height: 40px;
      ul.footerLinkWrap{
        float:left;
        li.footerLink{
          cursor: pointer;
          border-right: 1px solid #aaaaaa;
          color: #666666;
          display: inline-block;
          height: 28px;
          line-height: 28px;
          margin: 6px 0;
          min-width: 100px;
          text-align: center;
          &:last-child{
            border-right: none;
          }
        }
      }
      ul.socialIcons{
        float: right;
        .socialIcon{
          background-image: url("/assets/images/silhouette/sprite_default.png");
          background-position: -295px -91px;
          display: inline-block;
          height: 30px;
          margin: 5px 2px;
          width: 30px;
          cursor: pointer;
        }
        .twitter{
          background-position: -360px -91px;
        }
        .gPlus{
          background-position: -327px -91px;
        }
      }
    }
    .disclaimer{
      .disclaimerText{
        color: #777777;
        font-size: 11px;
        line-height: 22px;
        margin: 15px 275px 15px 15px;
        text-align: justify;
      }
      .companyLogo{
        background: url("/assets/images/silhouette/sprite_default.png") no-repeat scroll 5px -90px transparent;
        float: right;
        height: 29px;
        margin-right: 10px;
        margin-top: -85px;
        width: 170px;
      }
    }
  }
}