@import "../utils/_vars";
.btn-blue,input[type="submit"].btn-blue{
  #buttons > .blue()
}
.panel {
  background-color: #eeeeee;
  border-radius: 8px;
  margin: 15px;
}
#newProject{
  padding: 10px;
  padding-left: 50px;
  .title{
      margin: 10px 0;
      h1 {
          font-size: 40px;
          line-height: 1;
          padding: 2px 0;
      }
      p {
          font-size: 18px;
          line-height: 1;
          font-weight: 200;
          padding: 2px 0;
      }
  }
}
#projects{
  margin: 0 15px;
  li.projectItem {
      float: left;
      margin: 5px;
      width: 20%;
      cursor: pointer;
      font-size: 28px;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
      border: 1px solid #dddddd;
      &:hover{
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          border: 1px solid #0088cc;
      }
      &:last-child{
          .clearfix();
      }
      a{
          display: block;
          min-height: 50px;
          line-height: 50px;
          min-width: 150px;
          width: 100%;
          color: #0088cc;
          outline:  none;
          &:hover{
              color: #005580;
          }
      }
  }
}
#newProjectFormMask {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000000;
  #newProjectForm{
      background-color: #ffffff;
      height: 575px;
      padding: 15px;
      width: 600px;
      border-radius: 5px;
      box-shadow: 1px 1px 2px #cccccc;
      .formItem{
          margin: 8px 0;
          clear: both;
          label{
              color: #484848;
              display: block;
              float: left;
              font-size: 13px;
              height: 30px;
              line-height: 30px;
              padding: 0 20px 0 5px;
              text-align: right;
              width: 110px;
          }
      }
      .heading{
          border-bottom: 1px solid #cccccc;
          color: #666666;
          font-size: 17px;
          height: 20px;
          margin: 2px 5px 10px;
          padding: 5px;
      }
      .btnFormItem{
          width: 320px;
          margin: auto;
          padding-top: 20px;
      }
      input[type="text"], input[type="password"] {
          border-radius: 4px;
          font-size: 12px;
          margin: 0;
          padding: 7px 10px;
          width: 250px;
      }
      .btnItem{
          float: left;
          margin: 5px;
      }
      .richTextEditor{
          float:left;
          .editorControls{
              ul.controlList {
                  list-style: none;
                  li {
                      float:left
                        &:last-child{
                        .clearfix();
                      }
                  }
                  .controlGrp{
                      margin: 0px 10px;
                      border-radius: 5px;
                      padding: 5px 0;
                      overflow: hidden;
                  }
                  .control{
                      #gradients > .vertical(#ffffff, #e6e6e6);
                      display: block;
                      float: left;
                      height: 25px;
                      text-align: center;
                      line-height: 25px;
                      border: 1px solid #cccccc;
                      border-bottom-color: #b3b3b3;
                      cursor: pointer;
                      padding: 2px 8px;
                      border-right: none;
                      &:hover{
                          background: #e6e6e6;
                      }
                      &:first-child{
                          border-radius: 4px 0 0 4px;
                      }
                      &:last-child{
                          border-radius: 0 4px 4px 0;
                          border-right: 1px solid #cccccc;
                      }
                  }
                  .controlDown{
                      background: #e6e6e6;
                  }
                  .control[data-cmd='bold']{font-weight: bold}
                  .control[data-cmd='italic']{font-style: italic}
                  .control[data-cmd='underline']{text-decoration: underline}
              }
          }
          iframe.editorContent {
              border: 1px solid #cccccc;
              border-radius: 5px;
              width: 100%;
              &:focus{
                #focus > .blue;
              }
          }
      }
  }
}
